body {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
    font-weight: 200;
    margin-bottom: 20px;
}

#search-container {
    text-align: center;
    margin-bottom: 20px;
}

#search-bar {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #f5f5f5;
    background-color: #f5f5F5;
    border-radius: 8px;
    padding-left: 10x;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 2px solid #f5f5F5;
    padding: 16px;
}

th {
    background-color: #0000ff;
    color: #ffffff;
    text-align: left;
    border-radius: 8px 8px 0 0;
}

td {
    vertical-align: top;
}

td:first-child {
    width: 30%;
    background-color: #f5f5F5;
    color: #0000ff
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #f1f1f1;
}

.highlight {
    background-color: #cdebf9 !important;
}

.rights {
    text-align: center;
}

.rights a{
    color: #0000ff;
    text-decoration: none;
}

@media (max-width: 600px) {
    table, tbody, tr, td, th {
        display: block;
        width: 100%;
    }

    tr {
        margin-bottom: 15px;
    }

    td:first-child {
        font-weight: bold;
    }
}

